@import url(http://fonts.googleapis.com/css?family=Chivo+Handgloves);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
	torquoise: #2B7B8C;
	yellow   : #f2b632;
	darkgray : #333;
	medgray  : #677077;
	boldblue : #0071D1;
	
	RECHARGE:
	boldblue : #0071D1;
	
	HIGHER GROUND:
	red      : #CB4040;
	gray     : #333
	
	SMALL GROUPS: 
	blue     : #252839;
	orange   : #FF9001;
	skyblue  : #39B7D2;
	
	SUNDAY SCHOOL:
	tan      : #aa863a;
	lighttorq: #729f98;
	olive    : #283018;
*/
@font-face {
      font-family: 'Rebel';
      src: url("../fonts/RebelHeartMadonna.otf") format("opentype");
      font-weight: normal;
      font-style: normal;
    }
.wow
{
	visibility: hidden;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
a:active,
a:visited,
a:focus {
	outline: 0;
	text-decoration: none;
}
p {
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
  font-size: 1.1em;
  font-weight: 300;
  padding: 0 5%;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
a:hover {
  text-decoration: none;
}
.section-heading {
  text-align: center;
  margin-bottom: 65px;
}
.section-heading p {
  font-size: 1.1em;
  font-weight: 300;
  color: #757575;
  line-height: 20px;
}
.title {
  font-size: 2.3em;
  line-height: 1.1;
  font-weight: 300;
  color: #f2b632;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle {
  font-weight: 600;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 2.3em;
  text-align: center;
  padding-bottom: 30px;
}
.recharge .subtitle {
  color: #eee;
}
.higher-ground .subtitle{
  color: #cb4040;	
}
.small-groups .subtitle{
  color: #ff9001;	
}
.Sunday-school .subtitle{
  color: #283018;	
}
.subtitle-des {
  color: #757575;
  font-size: 1.1em;
  margin-bottom: 35px;
  font-weight: 300;
}
.recharge .subtitle-des {
  color: #f2b632;
}
.Sunday-school .subtitle-des {
  color: #EEE;
}
.pages {
  padding: 80px 0 40px;
}
.moduler {
  padding: 140px 0;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #02bdd5;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar-header .navbar-brand {
  padding: 5px 0;
}
.navbar-header .navbar-brand a {
  height: auto;
  display: inline-block;
  //margin-top: 8px;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle {
  background: #444;
}

.img-responsive
{
	margin: auto;
}

#top-bar {
  background: rgba(255,255,255,0.9);
  //background: #252839;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all .5s ease-out 0s;
  padding: 15px 0;
  //-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  //box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
#top-bar .navbar-nav > li > a:hover,
#top-bar .navbar-nav > li > a:focus {
  background: transparent;
}
#top-bar.animated-header {
  background: rgba(255,255,255,0);
  padding: 5px 0;
  //background: #ffffff;
  //box-shadow: 0 5px 15px rgba(0,0,0,.2);
  box-shadow: none;
}
#top-bar.animated-header  .main-menu li > a{
  color: rgba(255,255,255,0.8);
}
#top-bar .main-menu li > a {
  color: #424242;
}
#top-bar .main-menu li {
  position: relative;
}
#top-bar .main-menu li a {
  font-size: 1em;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-transform: uppercase;
}
#top-bar .main-menu li a:hover {
  //color: #F2B632;
}
#top-bar .main-menu li a:visited {
  outline: 0;
  background: none;
}
.navbar-custom .nav li > a {
  position: relative;
  color: #000;
}
.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}
.navbar-custom .dropdown-menu {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
}
#hero-area {
  background: url('../images/logs.jpg') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  padding: 230px 0;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}
#hero-area:before {
  content: '';
  z-index: 9;
  background: rgba(66,66,66, 0.78);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#hero-area .block {
  position: relative;
  z-index: 999;
}
#hero-area h1 {
  font-size: 8em;
  color: #F2B632;
  font-weight: 700;
  font-family: 'Rebel','Montserrat',sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#hero-area h2 {
  
}
#hero-area h3 {
  margin-right: 150px;
}
#hero-area p {
	width: 90%;
	max-width: 600px;
	margin: auto;
	text-indent: 20px;
}
#hero-area .btn {
  background: none;
  color: #fff;
  padding: 20px 35px;
  margin-top: 30px;
  font-size: .9em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 5px;
  border: thin solid #EEEEEE;
  transition: all .5s;
}
#hero-area .btn:hover {
  background: #EEEEEE;
  color: #424242;
}
#myCarousel
{
	border-bottom: thick solid #333;
}
#myCarousel h2
{
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	font-family: rebel,montserrat,sans-serif;
	color: rgba(255,255,255,0.8);
	font-size: 8em;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	top: 40%;
	text-align: center;
}
#myCarousel i
{
	position: absolute;
	vertical-align: middle;
	display: table;
	line-height: 100%;
	top: 50%;
	bottom: 50%;
	left: -50px;
	right: 0px;
	margin: auto;
}
#myCarousel .carousel-control
{
	transition: all .5s;
}
#myCarousel .right i{
	left: 0px;
	right: -50px;
}
.carousel-control:hover
{
	opacity: .7;
}
#service-page
{
	background: #f2b632;
	padding-top: 40px;
}
#call-to-action {
  background: #f2b632;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  text-align: center;
  position: relative;
  color: #fff;
}
.recharge #call-to-action,
.higher-ground #call-to-action,
.small-groups #call-to-action,
.Sunday-school #call-to-action  {
  background: #fff;
}
#call-to-action .block {
  position: relative;
  z-index: 99;
  color: #fff;
}
#call-to-action .block h2 {
  margin-bottom: 15px;
  color: #fff;
}
.recharge #call-to-action .block h2 {
  color: #0071d1;
}
.higher-ground #call-to-action .block h2 {
  color: #cb4040;
}
.small-groups #call-to-action .block h2 {
  color: #ff9001;
}
.Sunday-school #call-to-action .block h2 {
  color: #aa863a;
}
#call-to-action .block p {
  font-size: 1em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}
.recharge #call-to-action .block p,
.higher-ground #call-to-action .block p,
.small-groups #call-to-action .block p,
.Sunday-school #call-to-action .block p {
  color: #666;
}
#call-to-action .block .btn-contact {
  background: none;
  border: thin solid #252839;
  color: #252839;
  padding: 16px 35px;
  margin-top: 20px;
  font-size: .8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all .5s;
}
.recharge #call-to-action .block .btn-contact {
  border: thin solid #0071d1;
  color: #0071d1;
}
.higher-ground #call-to-action .block .btn-contact {
  border: thin solid #cb4040;
  color: #cb4040;
}
.small-groups #call-to-action .block .btn-contact {
  border: thin solid #ff9001;
  color: #ff9001;
}
.Sunday-school #call-to-action .block .btn-contact {
  border: thin solid #aa863a;
  color: #aa863a;
}
#call-to-action .block .btn-contact:hover
{
	background: #252839;
	color: #E0E0E0;
}

#call-to-action .block .btn-contact i {
  margin-right: 10px;
}
#about {
  padding: 110px 0;
}
#about .block {
  padding: 20px 30px 0 30px;
}
#about .block h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#about .block p {
  color: #727272;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
#about .block img {
  max-width: 100%;
}
.works {
  padding: 80px 0;
  background: #FCFCFC;
  text-align: center;
}
.recharge .works {
  background: #0071D1;
}
.higher-ground .works {
  background: #212121;
}
.small-groups .works {
  background: #252839;
}
.Sunday-school .works {
  background: #729F98;
}
.works .block {
  position: relative;
  z-index: 99;
}
.works .block:hover .img-overly .overly {
  opacity: 1;
}
.works .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: #666;
}
.works .block .img-overly {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
}
.works .block .img-overly img {
  border-radius: 0;
}
.works .block .img-overly .overly {
  background: rgba(57, 181, 74, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.works .block .img-overly .overly a {
  position: absolute;
  top: 45%;
  left: 22%;
}
.works .block .img-overly .overly a i {
  font-size: 30px;
  color: #fff;
}
figure {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
figure .img-wrapper {
  position: relative;
  overflow: hidden;
}
figure img {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
}
figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
figure:hover .overlay {
  opacity: 1;
}
figure:hover .overlay .buttons a {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
figure .overlay a {
  display: inline-block;
  color: #fff;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 4px;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
figure .overlay a:hover {
  text-decoration: none;
}
figure .overlay:hover a {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
figure .buttons {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
}
figure figcaption {
  padding: 20px 25px;
  margin-top: 0;
  color: #666;
}
figure figcaption h4 {
  margin: 0;
}
figure figcaption h4 a {
  color: #424242;
}
.recharge figure figcaption h4 a {
  color: #0071D1;
}
.higher-ground figure figcaption h4 a {
  color: #cb4040;
}
.small-groups figure figcaption h4 a {
  color: #ff9001;
}
figure figcaption p {
  font-size: .9em;
  margin-bottom: 0;
  margin-top: 5px;
  padding: 0;
}
#feature {
  padding: 80px 0;
}
#feature.event-feature {
	padding: 10px 0 40px 0;
	background: #eee;
}
#feature.event-feature .media {
  margin: 50px 0;
}
#feature.event-feature p {
  line-height: 25px;
  font-size: 1.1em;
  color: #777777;
  text-indent: 40px;
}
#feature .media {
  margin: 0px 0 70px 0;
}
#feature .media .media-left {
  padding-right: 25px;
}
#feature h3 {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin: 0px 0px 15px;
  font-weight: 400;
}
#feature p {
  line-height: 25px;
  font-size: 14px;
  color: #777777;
}
#feature .icon {
  text-decoration: none;
  color: #f2b632;
  background-color: #0071d1;
  height: 100px;
  text-align: center;
  width: 100px;
  font-size: 50px;
  line-height: 100px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-shadow: #0067bf 1px 1px, #0067bf 2px 2px, #0067bf 3px 3px, #0067bf 4px 4px, #0067bf 5px 5px, #0067bf 6px 6px, #0067bf 7px 7px, #0067bf 8px 8px, #0067bf 9px 9px, #0067bf 10px 10px, #0067bf 11px 11px, #0067bf 12px 12px, #0067bf 13px 13px, #0067bf 14px 14px, #0067bf 15px 15px, #0067bf 16px 16px, #0067bf 17px 17px, #0067bf 18px 18px, #0067bf 19px 19px, #0067bf 20px 20px, #0067bf 21px 21px, #0067bf 22px 22px, #0067bf 23px 23px, #0067bf 24px 24px, #0067bf 25px 25px, #0067bf 26px 26px, #0067bf 27px 27px, #0067bf 28px 28px, #0067bf 29px 29px, #0067bf 30px 30px, #0067bf 31px 31px, #0067bf 32px 32px, #0067bf 33px 33px, #0067bf 34px 34px, #0067bf 35px 35px, #0067bf 36px 36px, #0067bf 37px 37px, #0067bf 38px 38px, #0067bf 39px 39px, #0067bf 40px 40px, #0067bf 41px 41px, #0067bf 42px 42px, #0067bf 43px 43px, #0067bf 44px 44px, #0067bf 45px 45px, #0067bf 46px 46px, #0067bf 47px 47px, #0067bf 48px 48px, #0067bf 49px 49px, #0067bf 50px 50px, #0067bf 51px 51px, #0067bf 52px 52px, #0067bf 53px 53px, #0067bf 54px 54px, #0067bf 55px 55px, #0067bf 56px 56px, #0067bf 57px 57px, #0067bf 58px 58px, #0067bf 59px 59px, #0067bf 60px 60px, #0067bf 61px 61px, #0067bf 62px 62px, #0067bf 63px 63px, #0067bf 64px 64px, #0067bf 65px 65px, #0067bf 66px 66px, #0067bf 67px 67px, #0067bf 68px 68px, #0067bf 69px 69px, #0067bf 70px 70px, #0067bf 71px 71px, #0067bf 72px 72px, #0067bf 73px 73px, #0067bf 74px 74px, #0067bf 75px 75px, #0067bf 76px 76px, #0067bf 77px 77px, #0067bf 78px 78px, #0067bf 79px 79px, #0067bf 80px 80px, #0067bf 81px 81px, #0067bf 82px 82px, #0067bf 83px 83px, #0067bf 84px 84px, #0067bf 85px 85px, #0067bf 86px 86px, #0067bf 87px 87px, #0067bf 88px 88px, #0067bf 89px 89px, #0067bf 90px 90px, #0067bf 91px 91px, #0067bf 92px 92px, #0067bf 93px 93px, #0067bf 94px 94px, #0067bf 95px 95px, #0067bf 96px 96px, #0067bf 97px 97px, #0067bf 98px 98px, #0067bf 99px 99px, #0067bf 100px 100px;
}
.higher-ground #feature .icon {
  color: #333;
  background-color: #cb4040;
  text-shadow: #ae3636 1px 1px, #ae3636 2px 2px, #ae3636 3px 3px, #ae3636 4px 4px, #ae3636 5px 5px, #ae3636 6px 6px, #ae3636 7px 7px, #ae3636 8px 8px, #ae3636 9px 9px, #ae3636 10px 10px, #ae3636 11px 11px, #ae3636 12px 12px, #ae3636 13px 13px, #ae3636 14px 14px, #ae3636 15px 15px, #ae3636 16px 16px, #ae3636 17px 17px, #ae3636 18px 18px, #ae3636 19px 19px, #ae3636 20px 20px, #ae3636 21px 21px, #ae3636 22px 22px, #ae3636 23px 23px, #ae3636 24px 24px, #ae3636 25px 25px, #ae3636 26px 26px, #ae3636 27px 27px, #ae3636 28px 28px, #ae3636 29px 29px, #ae3636 30px 30px, #ae3636 31px 31px, #ae3636 32px 32px, #ae3636 33px 33px, #ae3636 34px 34px, #ae3636 35px 35px, #ae3636 36px 36px, #ae3636 37px 37px, #ae3636 38px 38px, #ae3636 39px 39px, #ae3636 40px 40px, #ae3636 41px 41px, #ae3636 42px 42px, #ae3636 43px 43px, #ae3636 44px 44px, #ae3636 45px 45px, #ae3636 46px 46px, #ae3636 47px 47px, #ae3636 48px 48px, #ae3636 49px 49px, #ae3636 50px 50px, #ae3636 51px 51px, #ae3636 52px 52px, #ae3636 53px 53px, #ae3636 54px 54px, #ae3636 55px 55px, #ae3636 56px 56px, #ae3636 57px 57px, #ae3636 58px 58px, #ae3636 59px 59px, #ae3636 60px 60px, #ae3636 61px 61px, #ae3636 62px 62px, #ae3636 63px 63px, #ae3636 64px 64px, #ae3636 65px 65px, #ae3636 66px 66px, #ae3636 67px 67px, #ae3636 68px 68px, #ae3636 69px 69px, #ae3636 70px 70px, #ae3636 71px 71px, #ae3636 72px 72px, #ae3636 73px 73px, #ae3636 74px 74px, #ae3636 75px 75px, #ae3636 76px 76px, #ae3636 77px 77px, #ae3636 78px 78px, #ae3636 79px 79px, #ae3636 80px 80px, #ae3636 81px 81px, #ae3636 82px 82px, #ae3636 83px 83px, #ae3636 84px 84px, #ae3636 85px 85px, #ae3636 86px 86px, #ae3636 87px 87px, #ae3636 88px 88px, #ae3636 89px 89px, #ae3636 90px 90px, #ae3636 91px 91px, #ae3636 92px 92px, #ae3636 93px 93px, #ae3636 94px 94px, #ae3636 95px 95px, #ae3636 96px 96px, #ae3636 97px 97px, #ae3636 98px 98px, #ae3636 99px 99px, #ae3636 100px 100px;
}
.small-groups #feature .icon {
  color: #252839;
  background-color: #ff9001;
  text-shadow: #e78301 1px 1px, #e78301 2px 2px, #e78301 3px 3px, #e78301 4px 4px, #e78301 5px 5px, #e78301 6px 6px, #e78301 7px 7px, #e78301 8px 8px, #e78301 9px 9px, #e78301 10px 10px, #e78301 11px 11px, #e78301 12px 12px, #e78301 13px 13px, #e78301 14px 14px, #e78301 15px 15px, #e78301 16px 16px, #e78301 17px 17px, #e78301 18px 18px, #e78301 19px 19px, #e78301 20px 20px, #e78301 21px 21px, #e78301 22px 22px, #e78301 23px 23px, #e78301 24px 24px, #e78301 25px 25px, #e78301 26px 26px, #e78301 27px 27px, #e78301 28px 28px, #e78301 29px 29px, #e78301 30px 30px, #e78301 31px 31px, #e78301 32px 32px, #e78301 33px 33px, #e78301 34px 34px, #e78301 35px 35px, #e78301 36px 36px, #e78301 37px 37px, #e78301 38px 38px, #e78301 39px 39px, #e78301 40px 40px, #e78301 41px 41px, #e78301 42px 42px, #e78301 43px 43px, #e78301 44px 44px, #e78301 45px 45px, #e78301 46px 46px, #e78301 47px 47px, #e78301 48px 48px, #e78301 49px 49px, #e78301 50px 50px, #e78301 51px 51px, #e78301 52px 52px, #e78301 53px 53px, #e78301 54px 54px, #e78301 55px 55px, #e78301 56px 56px, #e78301 57px 57px, #e78301 58px 58px, #e78301 59px 59px, #e78301 60px 60px, #e78301 61px 61px, #e78301 62px 62px, #e78301 63px 63px, #e78301 64px 64px, #e78301 65px 65px, #e78301 66px 66px, #e78301 67px 67px, #e78301 68px 68px, #e78301 69px 69px, #e78301 70px 70px, #e78301 71px 71px, #e78301 72px 72px, #e78301 73px 73px, #e78301 74px 74px, #e78301 75px 75px, #e78301 76px 76px, #e78301 77px 77px, #e78301 78px 78px, #e78301 79px 79px, #e78301 80px 80px, #e78301 81px 81px, #e78301 82px 82px, #e78301 83px 83px, #e78301 84px 84px, #e78301 85px 85px, #e78301 86px 86px, #e78301 87px 87px, #e78301 88px 88px, #e78301 89px 89px, #e78301 90px 90px, #e78301 91px 91px, #e78301 92px 92px, #e78301 93px 93px, #e78301 94px 94px, #e78301 95px 95px, #e78301 96px 96px, #e78301 97px 97px, #e78301 98px 98px, #e78301 99px 99px, #e78301 100px 100px;
}
.Sunday-school #feature .icon {
  color: #e0c58b;
  background-color: #729f98;
  text-shadow: #608781 1px 1px, #608781 2px 2px, #608781 3px 3px, #608781 4px 4px, #608781 5px 5px, #608781 6px 6px, #608781 7px 7px, #608781 8px 8px, #608781 9px 9px, #608781 10px 10px, #608781 11px 11px, #608781 12px 12px, #608781 13px 13px, #608781 14px 14px, #608781 15px 15px, #608781 16px 16px, #608781 17px 17px, #608781 18px 18px, #608781 19px 19px, #608781 20px 20px, #608781 21px 21px, #608781 22px 22px, #608781 23px 23px, #608781 24px 24px, #608781 25px 25px, #608781 26px 26px, #608781 27px 27px, #608781 28px 28px, #608781 29px 29px, #608781 30px 30px, #608781 31px 31px, #608781 32px 32px, #608781 33px 33px, #608781 34px 34px, #608781 35px 35px, #608781 36px 36px, #608781 37px 37px, #608781 38px 38px, #608781 39px 39px, #608781 40px 40px, #608781 41px 41px, #608781 42px 42px, #608781 43px 43px, #608781 44px 44px, #608781 45px 45px, #608781 46px 46px, #608781 47px 47px, #608781 48px 48px, #608781 49px 49px, #608781 50px 50px, #608781 51px 51px, #608781 52px 52px, #608781 53px 53px, #608781 54px 54px, #608781 55px 55px, #608781 56px 56px, #608781 57px 57px, #608781 58px 58px, #608781 59px 59px, #608781 60px 60px, #608781 61px 61px, #608781 62px 62px, #608781 63px 63px, #608781 64px 64px, #608781 65px 65px, #608781 66px 66px, #608781 67px 67px, #608781 68px 68px, #608781 69px 69px, #608781 70px 70px, #608781 71px 71px, #608781 72px 72px, #608781 73px 73px, #608781 74px 74px, #608781 75px 75px, #608781 76px 76px, #608781 77px 77px, #608781 78px 78px, #608781 79px 79px, #608781 80px 80px, #608781 81px 81px, #608781 82px 82px, #608781 83px 83px, #608781 84px 84px, #608781 85px 85px, #608781 86px 86px, #608781 87px 87px, #608781 88px 88px, #608781 89px 89px, #608781 90px 90px, #608781 91px 91px, #608781 92px 92px, #608781 93px 93px, #608781 94px 94px, #608781 95px 95px, #608781 96px 96px, #608781 97px 97px, #608781 98px 98px, #608781 99px 99px, #608781 100px 100px;
}
#feature.event-feature .media .media-left {
  display: block;
  text-align: center;
  padding-right: 0px;
}
#feature.event-feature .media .media-body{
  text-align: center;
}
.event-feature .icon {
	display: inline-block;
}
#contact-section {
  padding: 90px 0;
}
#contact-section .contact-form {
  margin-top: 42px;
}
#contact-section .contact-form .btn-send {
  margin-top: 35px;
  color: #fff;
  outline: none;
  background: #02bdd5;
}
#contact-section .contact-form .btn-send:hover {
  border: 1px solid #02bdd5;
}
#contact-section input {
  display: block;
  height: 40px;
  padding: 6px 12px;
  font-size: .9em;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 1px;
  border: 1px solid rgba(111, 121, 122, 0.3);
  box-shadow: none;
  -webkit-box-shadow: none;
}
#contact-section textarea {
  display: block;
  border-radius: 0;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#contact-section .address,
#contact-section .email,
#contact-section .phone {
  text-align: center;
  background: #F7F7F7;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
}
#contact-section .address i,
#contact-section .email i,
#contact-section .phone i {
  font-size: 45px;
  color: #02bdd5;
}
#contact-section .address h5,
#contact-section .email h5,
#contact-section .phone h5 {
  font-size: .9em;
  line-height: 1.4;
}
#contact-section .address-details {
  padding-top: 70px;
}
#map-canvas {
  width: 100%;
  height: 350px;
  background-color: #CCC;
}
#footer {
  background: #677077;
  padding: 25px 0;
  color: #FFF;
}
.higher-ground #footer {
  background: #212121;
}
#footer .copyright {
  font-size: .8em;
  margin-bottom: 0;
  margin-top: 10px;
}
#footer .copyright a {
  color: #F2B632;
}
.higher-ground #footer .copyright a {
  color: #cb4040;
}
.small-groups #footer .copyright a {
  color: #ff9001;
}
.Sunday-school #footer .copyright a {
  color: #729f98;
}
#footer .social {
  text-align: right;
  margin-bottom: 0;
}
#footer .social li {
  display: inline-block;
  margin-right: 15px;
}
#footer .social li a {
  font-size: 1.5em;
  color: #F2B632;
}
.higher-ground #footer .social li a {
  color: #cb4040;
}
.small-groups #footer .social li a {
  color: #ff9001;
}
.Sunday-school #footer .social li a {
  color: #729f98;
}
/*
.cd-headline.slide .cd-words-wrapper {
  color: #F2B632;
  font-family: 'Rebel', 'Montserrat', Sans-serif;
}*/
ul.social-icons {
  height: auto;
  overflow: hidden;
  list-style: none !important;
  margin-bottom: 10px;
}
ul.social-icons li {
  float: none;
  display: inline-block;
  height: 36px;
}
#copyright a:hover,
#copyright nav .menu li a:hover {
  color: #e4e4e4!important;
}
#copyright a,
#copyright a:hover {
  text-decoration: none;
}
.global-page-header {
  padding: 175px 0 100px 0;
  position: relative;
  background: #02bdd5;
  color: #fff;
  color: #f2b632;
  background: url(../images/mission.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-bottom: thick solid #2b7b8c;
}
.higher-ground .global-page-header {
  color: #cb4040;
}
.small-groups .global-page-header {
  color: #ff9001;
}
.Sunday-school .global-page-header {
  color: #729f98;
}
.global-page-header.activity {
  padding-bottom: 100px;
}
.recharge .global-page-header.activity
{
  background: url(../images/recharge-header-f.jpg); 
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  border-bottom: thick solid #f2b632;
}
.higher-ground .global-page-header.activity
{
  background: url(../images/higher-ground-header.jpg); 
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  border-bottom: thick solid #424242;
}
.small-groups .global-page-header.activity
{
  background: url(../images/small-group-header.jpg); 
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  border-bottom: thick solid #ff9001;
}
.Sunday-school .global-page-header.activity
{
  background: url(../images/Sunday-school-header.jpg); 
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  border-bottom: thick solid #729f98;
}
.global-page-header h2 {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-family: Rebel,montserrat,sans-serif;
  font-size: 6em;
}
.global-page-header .breadcrumb {
  background: none;
  font-size: 1em;
  padding: 8px  0;
}
.global-page-header .breadcrumb .active {
  color: #f2b632;
}
.global-page-header .breadcrumb li a {
  color: #f2b632;
}
.global-page-header .block {
  position: relative;
  z-index: 99;
  text-align: center;
}
#product-showcase-banner {
  padding-top: 160px;
}
#product-showcase-banner .block {
  padding: 20px 0 20px 50px;
}
#product-showcase-banner .block h2 {
  font-size: 40px;
  color: #02bdd5;
  margin-bottom: 20px;
  margin-top: 0;
}
#product-showcase-banner .block p {
  color: #666;
  line-height: 25px;
}
#product-showcase-banner .block .buttons {
  margin-top: 25px;
}
#product-showcase-banner .block .buttons .btn {
  color: #fff;
  border: none;
  padding: 12px 40px;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  letter-spacing: 2px;
  font-size: 15px;
}
#product-showcase-banner .block .buttons .btn-demo {
  background: #5abd4f;
  margin-right: 8px;
  border-bottom: 3px solid #429E38;
}
#product-showcase-banner .block .buttons .btn-demo:hover {
  background: #429E38;
}
#product-showcase-banner .block .buttons .btn-buy {
  background: #00AEDA;
  border-bottom: 3px solid #0190B5;
}
#product-showcase-banner .block .buttons .btn-buy:hover {
  background: #0190B5;
}
#product-showcase-banner .block .buttons .btn-buy span {
  margin-right: 8px;
  font-weight: bold;
}
#product-description {
  padding-top: 80px;
}
#product-description .block {
  height: 400px;
  overflow: hidden;
  margin-top: 35px;
  border-bottom: 1px solid #dedede;
  padding-top: 30px;
  position: relative;
  webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#product-description .block:hover img {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}
#product-description .block img {
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: -moz-transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: -o-transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#product-description .block .content {
  width: 60%;
  padding-top: 70px;
}
#product-description .block .content h3 {
  font-size: 32px;
  color: #5c5c5c;
}
#product-description .block .content p {
  color: #787f8c;
  line-height: 25px;
}
#related-items {
  padding: 60px 0 110px;
}
#related-items .title {
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
  margin: 5px 15px 30px 15px;
  text-align: left;
  color: #777;
}
#related-items .product-details {
  margin-bottom: 0;
}
#related-items .block {
  position: relative;
  background: #fff;
  margin-bottom: 45px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.14);
}
#related-items .block:hover .img-overly .overly {
  opacity: 1;
}
#related-items .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: #666;
}
#related-items .block h4 span {
  float: right;
  color: #02bdd5;
}
#related-items .block .img-overly {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
}
#related-items .block .img-overly img {
  border-radius: 0;
}
#related-items .block .img-overly .overly {
  background: rgba(57, 181, 74, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#related-items .block .img-overly .overly a {
  position: absolute;
  top: 45%;
  left: 45%;
}
#related-items .block .img-overly .overly a i {
  font-size: 30px;
  color: #fff;
}
.service-page .service-parts .block {
  margin-bottom: 40px;
  text-align: center;
}
.service-page .service-parts .block i {
  font-size: 35px;
  color: #2B7B8C;
}
.service-page .service-parts .block p {
  padding: 0 8px;
  font-size: 14px;
  color: #777;
  line-height: 1.7;
}
/*.works.service-page figure .buttons {
  position: absolute;
  top: 45%;
  left: 13%;
}*/
#clients {
  padding: 30px 0 60px;
}
#clients .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
#clients .owl-carousel .owl-item {
  margin-right: 10px;
}
.works .container {
  padding: 0;
}
.works .container .row div {
  padding-left: 0;
  padding-right: 0;  
}
.works-fit {
  padding: 40px 0;
}
/*.works-fit figure .buttons {
  left: 14%;
}*/
.fancybox-close {
  background: url("../images/icons/close.png") no-repeat scroll 0 0 transparent;
  height: 50px;
  right: 0;
  top: 0;
  width: 50px;
}
.fancybox-next span {
  background: url("../images/icons/right.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  right: 0;
}
.fancybox-prev span {
  background: url("../images/icons/left.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  left: 0;
}
.fancybox-title h3 {
  font-size: 15px;
  margin: 0;
}
.fancybox-title {
  padding: 15px 8px;
}
.wrapper_404 h1 {
  font-size: 200px;
  color: #02bdd5;
  line-height: 1;
}
.wrapper_404 h2 {
  font-size: 50px;
  margin-top: 0;
}
.wrapper_404 .btn-home {
  background: #414141;
  border: none;
  color: #fff;
  padding: 20px 35px;
  margin-top: 10px;
  font-size: 16px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
}
.company-description {
  margin-top: 100px;
  padding-bottom: 50px;
}
.company-description .block h3 {
  margin-top: 0;
}
.company-description .block p {
  color: #727272;
}
#team {
  margin: 50px 0;
}
.team-member {
  margin-top: 30px;
}
.team-member:hover .team-img img {
  opacity: .8;
}
.team-member .team-img {
  position: relative;
}
.team-member .team-img .team-pic {
  width: 100%;
}
.team-member .team_designation {
  font-size: 13px;
}
.team-member h3 {
  color: #02bdd5;
  margin-bottom: 0;
  font-size: 20px;
}
.team-member p {
  font-size: 14px;
}
.team-member .social-icons a {
  background: #02bdd5;
  color: #fff;
  padding: 4px 8px;
  display: inline-block;
  font-size: 15px;
}
.team-member .social-icons .facebook {
  padding: 4px 12px;
}
.about-feature {
  margin-top: 50px;
  background: url(../images/mission.jpg);
  background-position: center;
  background-attachment: fixed;
  padding-top: 8%;
  padding-bottom: 5%;
  text-align: center;
  border-top: thick solid #f2b632;
  border-bottom: thick solid #424242;
}
.about-feature i{
  font-size: 75px;
  color: rgba(242,182,50,0.8);
  color: rgba(255,255,255,0.8);
  border: 3px solid;
  border-radius: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.about-feature h2{
  font-family: rebel, montserrat, sans-serif;
  font-size: 5em;
  color: rgba(242,182,50,0.9);
  color: rgba(255,255,255,0.8);
}
.about-feature .block {
  color: #fff;
  width: 33.33%;
  padding: 5%;
  float: left;
}
.about-feature .block p {
  font-weight: 300;
}
.about-feature .about-feature-1 {
  background: rgba(0,0,0,0.2);
}
.about-feature .about-feature-2 {
  background: rgba(0,0,0,0.1);
}
.about-feature .about-feature-3 {
  
}
#blog-full-width {
  padding: 40px 0 80px;
}
article {
  padding: 30px 0;
}
.blog-content h2 {
  font-family: 'Montserrat', sans-serif;
}
.blog-content h2 a {
  color: #444;
  font-weight: 400;
  font-size: 30px;
}
.blog-content .blog-meta {
  color: #9a9a9a;
  font-weight: 300;
  margin-bottom: 25px;
}
.blog-content .blog-meta span:after {
  content: '/';
  padding: 0 3px 0 6px;
}
.blog-content .blog-meta a {
  color: #acacac;
}
.blog-content .blog-meta p {
  margin-top: 20px;
}
.blog-content .btn-details {
  color: #02bdd5;
  padding: 0;
  background: #02bdd5;
  color: #fff;
  padding: 8px 18px;
  border-radius: 0;
  margin-top: 15px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px #02bdd5;
}
.blog-post-image {
  margin-top: 30px;
}
.sidebar {
  padding-top: 60px;
}
.sidebar .widget {
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid #dedede;
}
.sidebar .widget h3 {
  margin-top: 8px;
}
.sidebar .search input.form-control {
  border-right: 0;
  border-radius: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.sidebar .search button {
  border-left: 0;
}
.sidebar .search button:hover {
  background: transparent;
}
.sidebar .author .author-img img {
  width: 90px;
  border-radius: 100%;
  margin-top: -40px;
  border: 3px solid #fff;
}
.sidebar .author .author-bio p {
  font-size: 14px;
  color: #888;
}
.sidebar .categories ul li {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
  list-style: none;
}
.sidebar .categories ul li span.badge {
  float: right;
  background: transparent;
  color: #444;
  border: 1px solid #dedede;
  border-radius: 0;
}
.sidebar .categories ul li a {
  color: #555;
}
.sidebar .categories ul li:last-child {
  border-bottom: none;
}
.sidebar .recent-post ul li {
  margin: 20px 0;
}
.sidebar .recent-post ul li a {
  color: #555;
  font-size: 15px;
}
.sidebar .recent-post ul li a:hover {
  color: #02bdd5;
}
.sidebar .recent-post time {
  font-weight: 300;
  color: #999;
  font-size: 12px;
}
.gallery {
  padding: 100px;
}
.gallery figure .buttons {
  left: 40%;
}
.portfolio-meta span {
  margin: 5px 10px;
  font-weight: 300;
  font-size: 1.1em;
}
.portfolio-meta span a {
  color: #fff;
}
.portfolio-single {
  padding: 0px 0 20px;
  margin-top: -70px;
  background: #EEE;
}
.portfolio-single p {
	text-indent: 40px;
}
.portfolio-single img {
	border: thick solid rgb(43, 123, 140);
}
.recharge .portfolio-single img {
	border: thick solid #f2b632;
}
.higher-ground .portfolio-single img {
	border: thick solid #424242;
}
.small-groups .portfolio-single img {
	border: thick solid #ff9001;
}
.Sunday-school .portfolio-single img {
	border: thick solid #729f98;
}
.portfolio-single .portfolio-content {
  padding: 40px 0;
}
.single-post {
  padding: 80px 0 20px;
}
.single-post .post-content {
  padding: 40px 0;
}
.single-post .post-content ol li,
.single-post .post-content ul li {
  color: #666;
}
.single-post .media {
  border: 1px solid #dedede;
  padding: 30px 20px;
}
.single-post .media .media-body a {
  color: #02bdd5;
  font-size: 12px;
}
.single-post .media .media {
  border: none;
}
.single-post .comments {
  margin-top: 40px;
}
.single-post .post-comment {
  margin-top: 40px;
}
.single-post .post-comment h3 {
  margin-bottom: 15px;
}
.single-post .post-comment .form-control {
  box-shadow: none;
  border-radius: 0;
}
.single-post .post-comment .btn-send {
  background: #02bdd5;
  color: #fff;
  border-radius: 0;
}
.social-share li {
  display: inline-block;
  margin: 3px 1px;
}
.social-share a {
  font-size: 20px;
  color: #fff;
  background: #02bdd5;
  padding: 4px 10px;
  display: inline-block;
}
.navbar-toggle .icon-bar {
  background: #424242;
  width: 25px;
  height: 3px;
}
.navbar-toggle {
  margin-top: 15px;
  background: #E0E0E0;
}
.dropdown-menu > ul {
  list-style: none;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: -5px;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 2px 0.09px rgba(0, 0, 0, 0.15);
}
.nav .open > a,
.nav .open > a:focus {
  background-color: transparent;
}
#top-bar .dropdown-menu > ul > li > a {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 8px 0;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
